body, .dotProContainer {
  background-color: #fff;
  color: #000;
}

a, p {
  color: #000
}

.vectorLink path,
.vectorLink circle,
.arrow > path,
.linkLogo > path,
.footerLinkVector > path,
.graphIcon path,
.graphIcon circle,
.dotPro path,
.techStack svg path,
.techStack svg circle,
.languageLabel,
.pieHole,
.vx-axis text,
.experienceGraph .textContainer text tspan{
  fill: #000;
}

.navBar, .footer {
  background-color: #ffffffcc;
}

.blogLink:hover p,
.blogLink:hover h2,
.postExternalLink:hover,
.projectList a:hover {
  color: #E350B9;
}

.frontLink:hover path,
.frontLink:hover circle,
.frontLink:hover h2,
.phone:hover,
.linkLogo:hover path,
.arrow:hover path,
.footerLinkVector:hover path {
  fill: #E350B9;
  color: #E350B9;
}

.graphGrid > line,
.experienceGraph path,
.experienceGraph .outerCircle,
.dotPro path {
  stroke: #000;
}

.experienceGraph .innerCircle {
  fill: #fff;
}
