.about {
  padding: $size-l 0;
  .container {
    max-width: 768px;
    .parsta {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-size;
      filter: grayscale(100%);
    }
    p {
      margin: $size-m auto;
    }
    .phone {
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: $size-sm;
      margin-bottom: $size-m;
    }
    .linkLogoContainer {
      display: block;
      margin: auto;
      text-align: center;
      .link {
        display: inline;
        .linkLogo {
          display: inline-block;
          margin: auto $size-sm;
          height: $size-m;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .about {
    padding-top: $size-s;
    padding-bottom: $size-xl;
  }
}
