.about {
  position: relative;
  top: $size-ml;
  .container {
    max-width: 768px;
    .parsta {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-size;
      filter: grayscale(100%);
    }
    h1 {
      text-align: center;
      margin: $size-m auto;
      font-size: $size-l;
    }
    p {
      text-align: justify;
      margin: $size-m auto;
      padding-bottom: $size-xl;
    }
    .phone {
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: $size-sm;
      margin-bottom: $size-m;
    }
    .linkLogoContainer {
      display: block;
      margin: auto;
      text-align: center;
      .link {
        display: inline;
        .linkLogo {
          display: inline-block;
          margin: auto $size-sm;
          height: $size-m;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .about {
    .container {
      h1 {
        font-size: $size-ml;
      }
    }
  }
}

@media (max-width: 383px) {
  .about {
    .container {
      h1 {
        font-size: $size-m;
      }
    }
  }
}
