.about {
  padding: $size-l 0;
  .container {
    max-width: 768px;
    .parsta {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-size;
      filter: grayscale(100%);
    }
    p {
      margin-bottom: $size-m
    }
    .phone {
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: $size-sm;
      margin: $size-s 0 $size-m;
    }
    .linkLogoContainer {
      display: block;
      margin: auto;
      text-align: center;
      margin-bottom: $size-m;
      svg {
        display: inline-block;
        margin: auto $size-s;
        height: $size-m;
      }

    }
    h1 {
      margin: $size-s auto 0;
    }
    h2 {
      margin-bottom: $size-s;
      &.education {
        margin-bottom: $size-m;
      }
    }
    h3 {
      font-size: 1.2rem;
      margin-bottom: $size-s;
    }
    ul {
      max-width: 350px;
      margin: 0 auto $size-m;
    }
    .languageLabel {
      font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
  }
}

@media (max-width: 575px) {
  .about {
    padding-top: $size-s;
    padding-bottom: $size-xl;
  }
}
