.blogContainer {
  padding: $size-l 15px;
  max-width: 768px;
  .blogLink {
    cursor: pointer;
    margin-bottom: $size-l;

    &:first-of-type {
      margin-top: $size-ml;
    }

    .blogPreviewImageContainer {
      .blogPreviewImage {
        position: absolute;
        left: 15px;
        width: calc(100% - 30px);
        height: 100%;
        border-radius: $border-radius-size;
        filter: grayscale(100%);
      }
    }

    .blogPreviewDescriptionContainer {
      .blogPreviewTitle {
        text-align: left;
      }
      .blogPreviewDate {
        font-weight: bold;
      }
      .blogPreviewCTA {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}


@media (max-width: 575px) {
  .blogContainer {
    padding-top: $size-ml;
    padding-bottom: $size-xl;
    .blogPreviewImageContainer {
      height: 300px;
      margin-bottom: $size-sm;
      .blogPreviewImage {
      }
    }
  }
}

