// For black background
@media (prefers-color-scheme: dark) {
  .chameleonContainer, .dotProLogoContainer, .sidebar {
    background-color: $colorBlack;
    color: $colorWhite;

    .navBar, .footer, {
      background-color: $colorTransparentBlack;
    }

    a {
      color: $colorWhite;
    }

    .chameleon {
      color: $colorWhite;
      fill: $colorWhite;
      border-color: $colorWhite;
    }

    .chameleonStroke {
      stroke: $colorWhite;
    }

    .downloadButton:hover {
      > path {
        stroke: $colorTeal;
      }
      .downloadButtonIcon, .downloadButtonText {
        fill: $colorTeal;
      }
    }

    .vx-axis use,
    .experienceGraph use{
      fill: $colorWhite;
    }

    .content a:hover,
    .highLightOnHover:hover,
    .highLightOnHover:hover .chameleon {
      color: $colorTeal;
      fill: $colorTeal;
    }
  }
}

// For white background
@media (prefers-color-scheme: light) {
  .chameleonContainer, .dotProLogoContainer, .sidebar {
    background-color: $colorWhite;
    color: $colorBlack;

    .navBar, .footer, .sidebar {
      background-color: $colorTransparentWhite;
    }

    a {
      color: $colorBlack;
    }

    .chameleon {
      color: $colorBlack;
      fill: $colorBlack;
      border-color: $colorBlack;
    }

    .chameleonStroke {
      stroke: $colorBlack;
    }

    .downloadButton:hover {
      > path {
        stroke: $colorPurple;
      }
      .downloadButtonIcon, .downloadButtonText {
        fill: $colorPurple;
      }
    }

    .content a:hover,
    .highLightOnHover:hover,
    .highLightOnHover:hover .chameleon {
      color: $colorPurple;
      fill: $colorPurple;
    }

    // Graph styling
    .graphGrid > line,
    .experienceGraph .twig,
    .experienceGraph .downloadButtonOutline,
    .experienceGraph .outerCircle {
      stroke: $colorBlack;
    }

    .experienceGraph .innerCircle {
      fill: $colorWhite;
    }
  }
}


