// For black background
@media (prefers-color-scheme: dark) {
  .chameleonContainer, .dotProContainer {
    background-color: $colorBlack;
    color: $colorWhite;

    .navBar, .footer {
      background-color: $colorTransparentBlack;
    }

    a, p {
      color: $colorWhite;
    }

    .chameleon {
      color: $colorWhite;
      fill: $colorWhite;
      border-color: $colorWhite;
    }

    .chameleonStroke {
      stroke: $colorWhite;
    }

    .downloadButton:hover {
      > path {
        stroke: $colorTeal;
      }
      svg {
        fill: $colorTeal;
      }
      text {
        fill: $colorTeal;
      }
    }

    .vx-axis use,
    .experienceGraph use{
      fill: $colorWhite;
    }

    .highLightOnHover:hover {
      color: $colorTeal;
      fill: $colorTeal;
      p, span {
        color: $colorTeal;
      }
      svg {
        fill: $colorTeal;
      }
    }
  }
}

// For white background
@media (prefers-color-scheme: light) {
  .chameleonContainer, .dotProContainer {
    background-color: $colorWhite;
    color: $colorBlack;

    .navBar, .footer {
      background-color: $colorTransparentWhite;
    }

    a, p {
      color: $colorBlack;
    }

    .chameleon {
      color: $colorBlack;
      fill: $colorBlack;
      border-color: $colorBlack;
    }

    .chameleonStroke {
      stroke: $colorBlack;
    }

    .downloadButton:hover {
      > path {
        stroke: $colorPurple;
      }
      svg {
        fill: $colorPurple;
      }
      text {
        fill: $colorPurple;
      }
    }

    .highLightOnHover:hover {
      color: $colorPurple;
      fill: $colorPurple;
      p, span {
        color: $colorPurple;
      }
      svg {
        fill: $colorPurple;
      }
    }

    // Graph styling
    .graphGrid > line,
    .experienceGraph path,
    .experienceGraph .outerCircle {
      stroke: $colorBlack;
    }

    .experienceGraph .innerCircle {
      fill: $colorWhite;
    }
  }
}


