$colorWhite: #FFF;
$colorTeal: #50E3C2;
$colorPurple: #E350B9;
$colorTransparentBlack: #000000B3;

$border-radius-size: 0.3em;
$size-xs: 0.5rem;
$size-s: 1rem;
$size-sm: 1.5rem;
$size-m: 2rem;
$size-ml: 4rem;
$size-l: 6rem;
$size-xl: 8rem;
