.dotProLogoContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10000;

  .dotProLogo {
    opacity: 0;
    animation: fadeOutOpacity 2.8s linear;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .dotPro {
      animation: draw 1s linear reverse, fadeInFill 2.8s linear;
    }
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 720;
  }
}

@keyframes fadeInFill {
  0%, 20% {
    fill-opacity: 0;
  }
  60%, 100% {
    fill-opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }
}