.timeLineContainer {
  padding-top: $size-l
}

.experienceGraph path,
.experienceGraph text,
.experienceGraph circle {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

@media (max-width: 575px) {
  .timeLineContainer {
    padding-top: $size-ml;
  }
}
