.timeLineContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .timeLine {
    position: absolute;
    width: 3880px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
