.timeLineContainer {
  padding-top: $size-l;
  .leaf {
    .downloadButton {
      cursor: pointer;
      transition: fill 150ms ease-in-out;
      > path {
        transition: stroke 150ms ease-in-out;
      }
      .downloadButtonIcon, .downloadButtonText {
        transition: fill 150ms ease-in-out;
      }
      &:hover {
        svg {
          #download_svg__a {
            transform: translate(0, 0);
          }
          .download_svg__arrow {
            animation-name: arrowTransform;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 1.5s;
            animation-delay: -0.75s;
          }
        }
      }
    }
  }
  .twig {
  }
}

@media (max-width: 575px) {
  .timeLineContainer {
    padding-top: $size-ml;
  }
}

@keyframes arrowTransform {
  0% {
    transform: translate(0, -36%);
  }
  100% {
    transform: translate(0, 25%);
  }
}