.footer {
  display: none;
  position: fixed;
  bottom: 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  z-index: 1130;
  padding-bottom: $size-s; /* iPhone home slider padding */
  .footerLinkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .footerLink {
      display: flex;
      align-items: center;
      justify-content: center;
      .footerLinkVector {
        width: 100%;
        cursor: pointer;
        margin: $size-s;
      }
    }
  }
}

@media (max-width: 511px) {
  .footer {
    display: block;
  }
}
