.footer {
  display: none;
  position: fixed;
  bottom: 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  z-index: 1130;
  padding-bottom: $size-s; /* iPhone home slider padding */
  .footerContainer {
    max-width: 480px;
    .footerLinkContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      .disabled {
        pointer-events: none;
        opacity: 0.3;
      }
      .footerLink {
        display: flex;
        align-items: center;
        justify-content: center;
        .footerLinkVector {
          width: 100%;
          cursor: pointer;
          padding: $size-xs 6vw;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .footer {
    display: block;
  }
}
