.index {
  @include grid;
  .menuGrid {
    grid-template-rows: auto fit-content(200px) auto auto;
    grid-template-columns: auto auto auto;
    h1 {
      grid-area: 2 / 2 / 2 / 2;
    }
    .innerMenuGrid {
      grid-area: 3 / 3 / 3 / 2;
      grid-template-rows: 200px 200px;
      grid-template-columns: repeat(4, minmax(90px, 125px));
    }
  }
}

.bigLinkButton {
  grid-column-start: span 2;
  a {
    svg {
      display: block;
      height: 120px;
      max-width: 120px;
      margin: auto;
    }
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    margin: $size-s 0;
    font-size: $size-m;
    font-weight: 700;
    text-transform: capitalize;
  }
}
