.indexContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  .dotProLogoContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    .dotProLogo {
      opacity: 0;
      animation-name: fadeOutOpacity;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-duration: 3s;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.menuContainer {
  max-width: 768px;
  h1 {
    margin-bottom: $size-ml
  }
  .bigLinkButton {
    align-content: center;
    justify-content: center;
    margin-bottom: $size-m;
    a {
      svg {
        display: block;
        height: 120px;
        max-width: 120px;
        margin: auto;
      }
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      margin: $size-s 0;
      font-size: $size-m;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

@media (max-height: 600px) {
  .indexContainer {
    display: block;
    .menuContainer {
      padding: $size-ml 0 $size-l;
    }
  }
}

@media (max-width: 1200px) {
  .indexContainer {
    .menuContainer {
      h1 {
        margin-bottom: $size-ml;
      }
      .bigLinkButton {
        h2 {
          font-size: $mediumResponsiveFontSize;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  @media (max-height: 800px) {
    .indexContainer {
      display: block;
      .menuContainer {
        padding: $size-ml 0 $size-l;
      }
    }
  }
  .indexContainer {
    .menuContainer {
      h1 {
        margin-bottom: $size-m;
      }
      top: 0;
      transform: none;
      max-width: 512px;
    }
  }
}

@media (max-width: 575px) {
  .menuContainer {
    h1 {
      margin-bottom: 0;
    }
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }
}
