.mainMenuContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 75vw;
  .linkButton {
    align-content: center;
    justify-content: center;
    .frontLink {
      .vectorLink {
        display: block;
        height: 150px;
        max-width: 150px;
        margin: auto;
      }
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      margin-top: $size-sm;
      font-size: $size-m;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 1200px) {
  .mainMenuContainer {
    max-width: 768px;
    .linkButton {
      margin: 10vh 0;
    }
  }
}

@media (max-width: 767px) {
  .mainMenuContainer {
    top: 0;
    transform: none;
    padding: $size-xl 0;
    .linkButton {
      margin: 6vh 0;
    }
  }
}
