.navBar {
  position: fixed;
  z-index: 1130;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  .navBarLink {
    display: flex;
    align-items: center;
    justify-content: center;
    .arrow {
      width: 2rem;
      margin: $size-s 0;
    }
  }
}

@media (max-width: 575px) {
  .navBar {
    display: none;
  }
}
