.navBar {
  position: fixed;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  z-index: 1130;
  .navText {
    text-align: center;
    margin: 0;
  }
  .arrow {
    width: 30px;
    margin: $size-s 0;
  }
}

@media (max-width: 575px) {
  .navBar {
    display: none;
  }
}
