.projectContainer {
  padding: $size-l $size-s;
  .stackLevel {
    .projectTitle {
      margin-bottom: 50px;
    }
    .projectList {
      display: flex;
      align-items: center;
      a {
        display: block;
        font-size: $size-sm;
      }
    }
    .projectLinkContainer {
      .vectorLink {
        display: block;
        max-height: $size-l;
        max-width: $size-l;
        margin: $size-ml auto $size-sm auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .projectContainer {
    .stackLevel {
      .projectList {
        display: block;
        margin-bottom: $size-ml;
        a {
          margin: auto;
          text-align: center
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .projectContainer {
    padding-top: $size-ml;
    padding-bottom: $size-xl;
  }
}
