.layoutGrid {
  display: grid;
  height: 100vh;
  grid-template-columns: 28rem auto;
  .sidebar {
    z-index: 500;
    border-right: 1px dashed;
    overflow: auto;
    max-height: 100vh;
    width: 100%;
    grid-column: 1;
    .category {
      position: relative;
      display: flex;
      border-top: 1px dashed;
      &:first-of-type {
        border-top: none;
      }
      &:last-of-type {
        .projectSidebar {
          padding-bottom: $size-l;
        }
      }
      .skillSidebar {
        top: 0;
        width: 5rem;
        border-right: 1px dashed;
        text-align: center;
        .stickyTitleContainer {
          position: sticky;
          top: 0;
          -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
          .rotatedTitle {
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            border-top: 1px dashed;
            line-height: calc(5rem - 1px); /* -1px for the bloody border */
            padding: 1rem 0;
          }
        }
        .filterToggle {
          cursor: pointer;
          background-color: transparent;
          margin: 0.5rem 0.5rem 2rem 0.5rem;
          padding: 0.5rem;
          border: none
        }
        .skillIconContainer {
          padding: 0 0.5rem 2rem 0.5rem;
          width: 100%;
          cursor: pointer;
          background-color: transparent;
          border: none;
          svg {
            max-width: 2rem;
            max-height: 2rem;
          }
          .skillTitle {
            margin: 0;
            font-size: 0.8rem;
          }
          &.passive {
            opacity: 0.4;
          }
        }
      }
      .projectSidebar {
        margin-top: 2rem;
        width: calc(100% - 5rem);
        height: 100%;
        .projectPreviewCardContainer {
          margin: 0 2rem 2rem;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .layoutGrid {
    grid-template-columns: 25rem auto;
    .sidebar {
      .category {
        .projectSidebar {
          margin-top: 1rem;
          .projectPreviewCardContainer {
            margin: 0 1rem 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .layoutGrid {
    grid-template-columns: 0 auto;
    .sidebar {
      display: none;
    }
    &.entryPage {
      grid-template-columns: auto 0;
      .sidebar {
        display: block;
      }
    }
    .navBar {
      display: none;
    }
    .footer {
      display: block;
    }
  }
}


