.post {
  padding: $size-l 0;
  .container {
    max-width: 768px;
    text-align: center;
    .hero-desktop, .hero-mobile {
      width: 100%;
      min-height: 100%;
      border-radius: $border-radius-size;
      filter: grayscale(100%);
    }
    .hero-mobile {
      display: none;
    }
    .postExternalLink {
      font-weight: bold;
      display: block;
      margin: $size-s 0;
    }
    h1 {
      font-size: $size-sm;
      margin: $size-m 0 $size-sm 0;
    }
    p {
      text-align: left;
      margin-top: $size-sm;
    }
  }
  .techStack {
    max-width: 320px;
    svg {
      height: $size-m;
    }
    span {
    }
  }
}

@media (max-width: 575px) {
  .post {
    padding-top: $size-s;
    padding-bottom: $size-xl;
    .container {
      .hero-desktop {
        display: none;
      }
      .hero-mobile {
        display: block;
      }
    }
  }
}
