.skill {
  padding: $size-ml 0 $size-xl 0;
  .container {
    max-width: 768px;
    .graphContainer {
      min-height: 404px;
      .graphIconContainer {
        transition: transform 0.1s ease-in-out;
        .graphIcon {
          cursor: pointer;
          &.passive {
            fill-opacity: 0.4;
          }
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    h1 {
      font-size: $largeResponsiveFontSize;
      margin: $size-s 0 $size-m 0;
    }
    h2 {
      margin-bottom: $size-sm;
    }
    .projectPreviewContainer {
      .projectPreviewCard {
        margin: 1rem auto
      }
    }
    .uxSkills {
      h2 {
        margin-bottom: $size-m;
      }
      .uxSkillContainer {
        margin-bottom: $size-m;
        .centering {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: $size-s;
          min-height: $size-xl;
          svg {
            display: block;
            max-height: $size-l;
            max-width: $size-l;
            width: 100%;
          }
        }
        p {
          text-align: center;
          margin: 0 auto $size-m;
          font-weight: 700;
          font-size: 0.95rem;
        }
      }
    }
  }
}

.tooltipText {
  font-size: 0.95rem;
}

.skills {
  @include grid;
  .menuGrid {
    grid-template-rows: auto fit-content(200px) auto auto;
    grid-template-columns: auto auto auto;
    h1 {
      grid-area: 2 / 2 / 2 / 2;
    }
    .innerMenuGrid {
      grid-area: 3 / 3 / 3 / 2;
      grid-template-rows: 220px 220px;
      grid-template-columns: repeat(6, minmax(90px, 125px));
    }
  }
}

@media (max-width: 575px) {
  .skill {
    padding-top: $size-s;
    padding-bottom: $size-xl;
  }
  .skills {
    .menuGrid {
      .innerMenuGrid {
        grid-template-rows: 220px 220px 220px 220px 220px 220px;
        grid-template-columns: repeat(2, minmax(90px, 125px));
      }
    }
  }
}
