.skills {
  padding: $size-ml 0 $size-xl 0;
  .container {
    max-width: 768px;
    .graphContainer {
      min-height: 404px;
      .graphSVG line,
      .vx-axis text,
      .graphIcon path,
      .graphIcon circle {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 0.5s;
      }
    }
    h1 {
      font-size: $size-sm;
      margin: $size-s 0 $size-m 0;
    }
    p {
      text-align: left;
      margin-bottom: $size-ml;
    }
    .projectList {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      a {
        text-align: center;
        display: block;
        font-size: $size-sm;
      }
    }
  }
}
