.skills {
  padding: $size-ml 0 $size-xl 0;
  .container {
    max-width: 768px;
    .graphContainer {
      min-height: 404px;
      .graphIcon {
        cursor: pointer;
        &.passive {
          fill-opacity: 0.4;
        }
      }
    }
    h1 {
      font-size: $largeResponsiveFontSize;
      margin: $size-s 0 $size-m 0;
    }
    h2 {
      margin-bottom: $size-sm;
    }
    .projectPreviewContainer {
      .projectPreviewCard {
        margin: 0 auto $size-m;
        .projectPreviewCardInner {
          border: 1px dashed;
          border-radius: $border-radius-size;
          display: block;
          padding: $size-s $size-sm;
          &.passive {
            opacity: 0.4;
          }
          p, h3 {
            text-align: center;
            width: 100%;
            margin: $size-sm 0 ;
          }
          .techStack {
            margin-bottom: $size-sm;
            .col {
              margin-bottom: 0; // $size-s;
              svg {
                display: block;
                height: $size-sm;
                margin: auto;
                &.passive {
                  fill-opacity: 0.4;
                }
              }
            }
          }
        }
      }
    }
    .uxSkills {
      h2 {
        margin-bottom: $size-m;
      }
      .uxSkillContainer {
        margin-bottom: $size-m;
        .centering {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: $size-s;
          min-height: $size-xl;
          svg {
            display: block;
            max-height: $size-l;
            max-width: $size-l;
            width: 100%;
          }
        }
        p {
          text-align: center;
          margin: 0 auto $size-m;
          font-weight: 700;
          font-size: 0.95rem;
        }
      }
    }
  }
}

.tooltipText {
  font-size: 0.95rem;
}

@media (max-width: 575px) {
  .skills {
    padding-top: $size-s;
    padding-bottom: $size-xl;
  }
}
