.white {
  background-color: #fff;
  color: #000;
  .dotProContainer {
    background-color: #fff;
    color: #000;
  }

  a, p {
    color: #000
  }

  .vectorLink use path,
  .vectorLink use circle,
  .arrow > path,
  .linkLogo > path,
  .footerLinkVector > path,
  .graphIcon path,
  .graphIcon circle,
  .dotPro path,
  .techStack svg path,
  .techStack svg circle,
  .languageLabel,
  .pieHole,
  .vx-axis text,
  .experienceGraph .textContainer text tspan{
    fill: #000;
  }

  .navBar, .footer {
    background-color: #ffffffcc;
  }

  .projectList a:hover,
  .postExternalLink:hover
  {
    color: #E350B9;
  }

  .blogLink,
  .frontLink,
  .arrow,
  .linkLogo,
  .link,
  .navBar,
  .footerLink {
    fill: $colorBlack;
    &:hover {
      svg use, h2, p, li, a {
        fill: #E350B9;
        color: #E350B9;
      }
    }
  }

  .graphGrid > line,
  .experienceGraph path,
  .experienceGraph .outerCircle,
  .dotPro path {
    stroke: #000;
  }

  .experienceGraph .innerCircle {
    fill: #fff;
  }
}
